# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# vscode
.vscode/
*.code-workspace

# DotEnv configuration
.env

# virtual environment configuration
venv/

# Mypy cache
.mypy_cache/

# Database
*.db
*.rdb

# openai threads db
threads_db
